<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="static/styles.css">
    <title>Clary's Cupcakes</title>
</head>
<body>
    <h1>Clary's Cupcakes</h1>
    <nav>
        <a href="{{ url_for('cupcakes')}}">Cupcakes</a>
        <a href="{{ url_for('order')}}">Orders</a>
    </nav>
    <div class="block_content">
    {% block content %}
    {% endblock %}
    </div>  
</body>
</html>